.u-section-1 .u-sheet-1 {
  min-height: 1067px;
}

.u-section-1 .u-product-1 {
  min-height: 1515px;
  margin-top: 50px;
  margin-bottom: 60px;
  height: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-gallery-1 {
  width: 540px;
  height: 433px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-right: 10px;
  padding-top: 0;
  padding-left: 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 110px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  right: 0;
}

.u-section-1 .u-text-1 {
  margin: -433px 30px 0 628px;
}

.u-section-1 .u-text-2 {
  margin: 71px 30px 0 629px;
}

.u-section-1 .u-text-3 {
  margin: 237px 50px 0 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1 .u-gallery-1 {
    width: 471px;
    height: 357px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -328px;
    margin-right: 0;
    margin-left: 515px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 515px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    width: 660px;
    height: 553px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 98px;
    margin-left: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-1 .u-product-1 {
    margin-bottom: -68px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    height: 415px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 287px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-1 .u-product-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    height: 209px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 35px;
    margin-right: 0;
  }
}