 .u-section-1 {
  padding-left: 100px;
  padding-right: 100px;
  min-height: 1202px;
}

.u-section-1 .u-product-1 {
  min-height: 1073px;
  height: auto;
  background-image: linear-gradient(#ffe7c7, #f5faf5);
  width: 922px;
  margin: 50px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 1px;
}

.u-section-1 .u-gallery-1 {
  width: 493px;
  height: 383px;
  margin: 17px auto 0 17px;
}

.u-section-1 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-right: 10px;
  padding-top: 0;
  padding-left: 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 110px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  right: 0;
}

.u-section-1 .u-text-1 {
  margin: -277px 0 0 532px;
}

.u-section-1 .u-text-2 {
  margin: 25px -9px 0 536px;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 140px 25px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-text-3 {
  margin: 50px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-gallery-1 {
    margin-top: 58px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -398px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 142px;
    margin-right: 4px;
    margin-left: 414px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 167px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 84px;
    margin-bottom: -25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-product-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 330px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 194px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: -76px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-product-1 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -347px;
    margin-left: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: -88px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    padding-left: 69px;
    min-height: 1685px;
  }

  .u-section-1 .u-product-1 {
    width: 340px;
    margin: 48px -34px 23px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    margin-top: 55px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -420px;
    margin-right: 4px;
    margin-left: -4px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 340px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 34px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: -289px;
  }
}.recipe-text.line-height.font-family.Georgia.serif {
}