.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-products-1 {
  height: auto;
  margin: 40px auto 40px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 520px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 30px;
}

.u-section-1 .u-image-1 {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 18px auto 0;
}

.u-section-1 .u-product-category-1 {
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 16px 0 0 6px;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 30px;
}

.u-section-1 .u-image-2 {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 18px auto 0;
}

.u-section-1 .u-product-category-2 {
  margin: 10px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 16px 0 0 6px;
}

.u-section-1 .u-repeater-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 30px;
}

.u-section-1 .u-image-3 {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 18px auto 0;
}

.u-section-1 .u-product-category-3 {
  margin: 10px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 16px 0 0 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-products-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 0px;
    min-height: 429px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 986px;
    grid-auto-columns: 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 2219px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 506px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 506px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 506px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    min-height: 1397px;
  }

  .u-section-1 .u-image-1 {
    height: 365px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 365px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 365px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}