 .u-section-1 {
  padding-left: 100px;
  padding-right: 100px;
  min-height: 2039px;
}

.u-section-1 .u-product-1 {
  min-height: 1497px;
  height: auto;
  background-image: linear-gradient(#ffe7c7, #f5faf5);
  width: 922px;
  margin: 50px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 1px;
}

.u-section-1 .u-gallery-1 {
  width: 493px;
  height: 383px;
  margin: 11px auto 0 17px;
}

.u-section-1 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-right: 10px;
  padding-top: 0;
  padding-left: 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 110px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  right: 0;
}

.u-section-1 .u-text-1 {
  margin: -383px 0 0 532px;
}

.u-section-1 .u-text-2 {
  margin: 81px 0 0 527px;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 192px 25px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-text-3 {
  margin: 34px 8px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-gallery-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -398px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 142px;
    margin-right: 4px;
    margin-left: 414px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-product-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 330px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 194px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-product-1 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 2px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -347px;
    margin-left: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-product-1 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    margin-top: 49px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -394px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}