 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 606px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 12px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2127px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1993px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2642px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 47px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 555px;
}

.u-section-2 .u-accordion-1 {
  width: 1000px;
  margin: 3px auto 60px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  font-size: 3.9376em;
  vertical-align: -19px;
  margin-right: 26px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 721px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 23px 53px 0 74px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1007px;
  margin: 25px -30px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 308px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  width: 400px;
  height: 300px;
  margin: 7px auto 0 11px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 308px;
}

.u-section-2 .u-container-layout-3 {
  padding: 7px 0;
}

.u-section-2 .u-text-2 {
  margin: 0 82px 0 12px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 308px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 12px -413px 0 41px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 308px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  font-size: 4.5626em;
  margin-right: 50px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 730px;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 16px;
}

.u-section-2 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin: 13px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 333px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 473px;
  height: 237px;
  margin: 48px auto 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 301px;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px 7px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 12px 0 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 319px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-2 .u-text-7 {
  margin: 0 12px 0 0;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 451px;
  height: auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 20px 0;
}

.u-section-2 .u-text-8 {
  line-height: 1.8;
  margin: 0 30px;
}

.u-section-2 .u-layout-wrap-3 {
  width: 979px;
  margin: 42px 0 0 auto;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 185px;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 185px;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 185px;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-11 {
  min-height: 185px;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-accordion-1 {
    width: 940px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 23px;
    margin-left: 44px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 288px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 288px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 61px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 288px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 288px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 275px;
  }

  .u-section-2 .u-image-2 {
    width: 454px;
    height: 227px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 248px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 263px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 178px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 178px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 178px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 178px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-accordion-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 221px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 225px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 221px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 211px;
  }

  .u-section-2 .u-image-2 {
    width: 344px;
    height: 172px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 136px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 136px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 136px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 332px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 317px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 204px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 204px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 204px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 204px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-accordion-1 {
    width: 340px;
    margin-top: 10px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 209px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 200px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 160px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 128px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 128px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 128px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 128px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1426px;
}

.u-section-3 .u-products-1 {
  margin-bottom: 60px;
  margin-top: 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  --gap: 10px;
  min-height: 549px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 300px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  margin: 18px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 300px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 18px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 300px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin: 18px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 300px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  margin: 18px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  height: 300px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  margin: 18px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  height: 300px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-11 {
  margin: 18px 0 0;
}

.u-section-3 .u-text-12 {
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  height: 300px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-13 {
  margin: 18px 0 0;
}

.u-section-3 .u-text-14 {
  margin: 30px auto 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 711px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -11px auto 0 -13px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 312px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 13px 133px 0 305px;
}

.u-section-4 .u-image-1 {
  width: 178px;
  height: 134px;
  margin: -36px auto 0 13px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 133px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 133px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 133px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 133px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 133px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-layout-wrap-2 {
  width: 159px;
  margin: -420px auto 60px 0;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 52px;
}

.u-section-4 .u-container-layout-7 {
  padding: 0;
}

.u-section-4 .u-icon-1 {
  width: 30px;
  height: 30px;
  margin: 17px auto -17px;
  padding: 0;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 52px;
}

.u-section-4 .u-container-layout-8 {
  padding: 18px 11px;
}

.u-section-4 .u-text-2 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-9 {
  min-height: 43px;
}

.u-section-4 .u-container-layout-9 {
  padding: 0;
}

.u-section-4 .u-icon-2 {
  width: 30px;
  height: 30px;
  margin: 0 62px 0 28px;
  padding: 0;
}

.u-section-4 .u-layout-cell-10 {
  min-height: 43px;
}

.u-section-4 .u-container-layout-10 {
  padding: 5px 10px;
}

.u-section-4 .u-text-3 {
  font-size: 0.625rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 83px;
    margin-left: 124px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 110px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 110px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 110px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 110px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 28px;
    margin-left: 91px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 84px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 84px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 84px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 84px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 84px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 94px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 64px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 126px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 126px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 126px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 104px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 128px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 86px;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 124px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 79px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 79px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 79px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 79px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 79px;
  }
}